version: "3.8"
services:
  mongo:
    image: mongo:6.0
    restart: always
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME:-admin}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:-password}
    networks:
      - app-network

  backend:
    image: YOUR_DOCKERHUB_USERNAME/dd-task-backend:latest
    depends_on:
      - mongo
    environment:
      - PORT=3000
      - MONGO_URL=mongodb://admin:password@mongo:27017/ddtask?authSource=admin
    restart: always
    ports:
      - "3000:3000"
    networks:
      - app-network

  frontend:
    image: YOUR_DOCKERHUB_USERNAME/dd-task-frontend:latest
    depends_on:
      - backend
    restart: always
    ports:
      - "8080:80"
    networks:
      - app-network

  nginx:
    image: nginx:stable-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    restart: always
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
