# Mongo credentials for docker-compose (used only if using the mongo service)
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password

# Docker images used by compose (optional override)
BACKEND_IMAGE=YOUR_DOCKERHUB_USERNAME/dd-task-backend:latest
FRONTEND_IMAGE=YOUR_DOCKERHUB_USERNAME/dd-task-frontend:latest
